# FastAPI y ASGI server
fastapi
uvicorn
python-multipart

# Base de datos
SQLAlchemy
alembic
psycopg

# Seguridad
python-jose[cryptography]
# passlib[bcrypt] >= 1.7.4 # passlib maneja bcrypt, bcrypt directo puede no ser necesario o causar conflictos
bcrypt == 4.3.0 # Si se requiere específicamente y no hay conflicto con passlib
passlib[bcrypt] # Es más común usar passlib para el hashing de contraseñas

# Serialización/Validación
pydantic
pydantic-settings
email-validator

# Logging
python-logging-loki  # Opcional

# Utilidades
python-dotenv

# Procesamiento de archivos
aiofiles

# Testing
pytest
pytest-asyncio
httpx

# Celery
celery[redis]
